body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

nav img {
    width: 100px;
    height: auto;
}

.navbar_left {
    display: flex;
    align-items: center;
}

.navbar_left a {
    padding: 5px 10px;
    margin: 0px 15px;
    font-size: 20px;
    background-color: #e7d7ee;
    border-radius: 10px;
    color: #2e2b2b;
    text-decoration: none;
}

.navbar_right {
    display: flex;
    align-items: center;
}

.navbar_right a {
    padding: 5px 10px;
    margin: 0px 15px;
    font-size: 20px;
    background-color: #e7d7ee;
    border-radius: 10px;
    color: #2e2b2b;
    text-decoration: none;
}

section {
    position: relative;
    margin: 0 auto;
}

section>img {
    width: 100%;
    object-fit: fill;
}

.imagem_destaque {
    width: auto;
    height: auto;
}

.imagem_destaque img {
    width: 100%;
    height: 60%;
}

.div_desc {
    padding: 25px;
    background-color: #d9e0df;

}

.descricao {
    margin: 50px 75px;
    padding: 10px 65px;
    font-size: 24px;
    text-align: center;
}

.descricao p {
    padding: 0px 250px;
    word-break: break-word;
}

.galeria {
    margin: 25px;
    background-color: #eff2f2;
}

.galeria_item {
    align-items: center;
    float: left;
    width: 33.33%;
}

.galeria_item img {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.galeria_item p {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    padding: 0px 150px;
    word-break: break-word;
}

#background {
    opacity: 0.85;
}

.div_auth,
.div_register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    background-color: rgba(255, 255, 255, 0.767);
    /* Fundo semi-transparente */
    padding: 2rem;
    width: 80%;
    max-width: 400px;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;
}

.div_auth,
.div_register>img {
    width: 50%;
    height: auto;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
}

.form_control {
    margin-bottom: 5px;
}

.input_group {
    margin-bottom: 15px;
}

label {
    text-align: start;
    margin: 5px 0px;
}

input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type=button] {
    margin: 10px 5px;
}

p {
    margin: 5px;
    text-align: center;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    color: #3e8e41;
}

#message {
    margin-top: 1rem;
    font-size: 0.9rem;
}