body {
    font-family: 'Javanese Text Regular';
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.columns>div>img {
    display: block;
    margin: 2rem auto 3rem auto;
    width: 50%;

}

p.my_title {
    --bulma-title-line-height: none;
    --bulma-title-color: black;
    --bulma-subtitle-color: black;
}


div.description {
    background-color: #d9e0df;
}

div.guide {
    background-color: #eff2f2;
}

div.c_guide>.s_guide {
    --bulma-strong-color: none;
    color: #151414;
}

div.c_guide>.p_guide {
    --bulma-strong-color: none;
    color: #151414;
    margin-bottom: 2rem;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

nav img {
    width: 100px;
    height: auto;
}

.navbar_left {
    display: flex;
    align-items: center;
}

.navbar_left a {
    padding: 5px 10px;
    margin: 0px 15px;
    font-size: 20px;
    background-color: #e7d7ee;
    border-radius: 10px;
    color: #2e2b2b;
    text-decoration: none;
}

.navbar_right {
    display: flex;
    align-items: center;
}

.navbar_right a {
    padding: 5px 10px;
    margin: 0px 15px;
    font-size: 20px;
    background-color: #e7d7ee;
    border-radius: 10px;
    color: #2e2b2b;
    text-decoration: none;
}

section {
    position: relative;
    margin: 0 auto;
}

section>img {
    width: 100%;
    object-fit: fill;
}

form>.is-p {
    color: black;
}

form>p>.mybtn {
    padding: 0rem 0.25rem;
    height: 1.2rem;
    color: rgb(0, 60, 255);
    --bulma-button-text-hover-background-color: rgba(255, 255, 255, 0);
    --bulma-button-text-hover-color: black;
    --bulma-button-text-color: #7686ff;
    --bulma-button-text-decoration: none;
}

.imagem_destaque {
    width: auto;
    height: auto;
}

.div_desc {
    padding: 25px;
    background-color: #d9e0df;

}

.descricao {
    margin: 50px 75px;
    padding: 10px 65px;
    font-size: 24px;
    text-align: center;
}



.descricao p {
    padding: 0px 250px;
    word-break: break-word;
}

.galeria {
    margin: 25px;
    background-color: #eff2f2;
}

.galeria_item {
    align-items: center;
    float: left;
    width: 33.33%;
}

.galeria_item img {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.galeria_item p {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    padding: 0px 150px;
    word-break: break-word;
}

.background {
    opacity: 0.85;
    margin-top: 1rem;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}



.control>.input,
.control>.input::placeholder {
    background: rgb(255, 255, 255);
    color: #2e2b2b
}

@media screen and (max-width: 1024px) {

    /* Specific to this particular image */
    img.background {
        left: 50%;
        margin-left: -512px;
        /* 50% */
    }
}

.ral {
    margin: 50px;
}

.div_ral {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    background-color: rgba(255, 255, 255, 0.767);
    /* Fundo semi-transparente */
    padding: 2rem;
    width: 80%;
    max-width: 400px;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;
    margin-top: 5rem;
}

.div_audiv_ral>img {
    width: 50%;
    height: auto;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
}

.form_control {
    margin-bottom: 5px;
}

.input_group {
    margin-bottom: 15px;
}

label {
    text-align: start;
    margin: 5px 0px;
}

input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



p {
    margin: 5px;
    text-align: center;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

nav>a:hover {
    color: purple;
}

a:hover {
    color: #f70606;

}

#message {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.ajuste>.column>.is-10,
.is-narrow {
    padding: 0px;
    text-align: start;
    vertical-align: middle
}